<label for="">Server Name</label>
<!--
  One-way binding
   <input type="text" class="form-control" (input)="onUpdateServerName($event)">
  -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServe"
  (click)="onCreateServer()" > Add Server </button>
<!--<p [innerText]="allowNewServe"></p>-->
<!-- <p>{{ serverCreatinStatus }}</p> -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name id {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->
<p *ngIf="serverCreated">Server was created, server name id {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

